body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f9;
  overflow-x: hidden; /* Evita a barra de rolagem horizontal */
}

.app-container {
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.centered-container {
  width: 100%;
  max-width: 100%; /* Garante que não ultrapasse a largura da viewport */
  box-sizing: border-box;
}

.login-container, .shopping-list-container {
  box-sizing: border-box;
  width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível */
}

.items-list {
  max-height: calc(100vh - 250px); /* Ajuste conforme necessário */
  overflow-y: auto;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.text-input {
  flex: 1;
}