/* index.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden; /* Evita a barra de rolagem horizontal */
}

.app-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; /* Centraliza o container */
  padding: 20px;
  box-sizing: border-box;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 100%; /* Garante que não ultrapasse a largura da viewport */
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;
  }

  .add-button {
    width: 80%;
  }
}